/* Body CSS */
body {
    background-color: #f9bd69;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    overflow-x: hidden;
}
.content {
    color: white;
    padding: 0;
    font-size: 1.25rem;
    margin: 0 20px 20px 20px;
}
a {
    text-decoration: none;
    color: #ce2127;
}
h1 {
    color: #ce2127;
}

/* Nav CSS */
nav {
    width: 100%;
    margin: 0 auto;
    height: 55px;
    z-index: 1000;
}
#icon {
    position: absolute;
    margin-left: 10px;
    
}
.cursive {
    font-family: 'Trochut', cursive;
}
#logo {
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    padding: 1px 0 0 70px;
    color: #ce2127;
    text-decoration: none;
}
.links {
    
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
    
}
ul a li:hover {
    color: white;
}

ul {
    font-size: 1rem;
    font-style: italic;
    width: 80%;
    margin: 0 0 0 155px;
    padding: 10px 0 0 0;
}

/* Sticky Nav CSS */

#hamburger {
    display: block;
    float: right;
    margin-right: 20px;
}

.sticky nav {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #f9bd69;
    transition: 1000ms;
}

#menuIcon {
    display: block;
    color: #ce2127;
    padding: 0 10px 2.5px 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-top: 35%;
    margin-bottom: 25%;
}

#navlist.togglemenu {
    display: block !important;
    z-index: 1000;
    background-color: #f9bd69;
    position: absolute;
    font-size: 1rem;
    font-style: italic;
    width: 50vw;
    height: 100vh;
    margin: 55px 0 0 50%;
    padding: 25% 0 30px 0;
    border-left: 1.5px solid #ce2127;
    border-top: 1.5px solid #ce2127;

}

.menucss {
    width: 70%;
    padding: 10px;
    letter-spacing: 2px;

}

li.links {
    display: block;

}

#navlist {
    display: none;

}
/* About Us CSS */
#lglogo {
    width: 50vw;
    margin: 2.5% 25% 0 25%;
    padding: 0;
}
.aboutus{
text-align: center;
margin-bottom: 0;

}
.btn {
    color: white;
    background-color: #ce2127;
    border-radius: 4px;
    width: 7rem;
    height: 2rem;
    border: 1px solid #ce2127;
    margin-bottom: 20px;
}
/* Our Mission CSS */
.full {
    width: 100vw;

}
.mission {
    text-align: center;
    margin-bottom: 0;
    
    }

    /* Store Info */
    .info {
        color: white;
        text-align: center;
        border: 1px solid #ce2127;
        margin: 0 15% 0 15%;
        padding: 10px;
    }
    h3 {
        color: #ce2127
    }
    /* Map */
    .map {
        margin: 0 25% 0 25%;
        width: 50vw;
        
    }
/* Footer CSS */

footer {
    width: 100%;
    background-color: #845d3c;
    display: inline-block;
    text-align: center !important;
    height: 150px;
    border-top: 1px solid #ce2127;

}

h6 a {
    color: #f9bd69;
    text-decoration: none;

}

h6 {
    font-family: 'Libre Baskerville', serif;
    display: inline-block;
    font-weight: lighter;
    word-spacing: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    word-spacing: 5rem;
    margin-bottom: 0;

}

h5 {
    font-family: 'Libre Baskerville', serif;
    display: inline-block;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #f9bd69;
    margin-top: 15px;

}

h6 a:hover {
    color: white;

}

hr {
    margin-top: 1.5%;
    margin-left: 15%;
    margin-right: 15%;
    border-color: rgba(0, 0, 0, 0.1);

}

/* Footer Social Icons Css */

.fa-instagram {
    color: #fff;
    border-radius: 5px;
    font-weight: 900;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

}

.fa-facebook-square {
    color: #4267b2;

}