/* Body CSS */
body {
    background-color: #f9bd69;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #ce2127;
}


/* Nav CSS */
nav {
    width: 100%;
    margin: 0 auto;
    height: 55px;
    z-index: 1000;
}
#icon {
    position: absolute;
    margin-left: 10px;
    
}
.cursive {
    font-family: 'Trochut', cursive;
}
#logo {
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    padding: 1px 0 0 70px;
    color: #ce2127;
    text-decoration: none;
}
.links {
    
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
    
}
ul a li:hover {
    color: white;
}

ul {
    font-size: 1rem;
    font-style: italic;
    width: 80%;
    margin: 0 0 0 155px;
    padding: 10px 0 0 0;
}

/* Sticky Nav CSS */

#hamburger {
    display: none;
    float: right;
    margin-right: 20px;
}

.sticky nav {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #f9bd69;
    transition: 1000ms;
    
}

#menuIcon {
    display: none;
    color: #ce2127;
    padding: 0 10px 2.5px 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-top: 35%;
    margin-bottom: 25%;
}

/* Slideshow CSS */

.carousel {
    padding: 0;
    margin: 1% 15%;
}

.slide {
    max-width: 100%;
    height: 500px;
    border: 2px solid #ce2127;

}
.red {
    width: 19.5%;
    position: absolute;
    margin-top: 6rem;
    margin-left: 2rem;
    z-index: -1;

}

.green {
    width: 16.5%;
    position: absolute;
    margin-top: 7.3rem;
    margin-left: 78.5%;
    z-index: -1;

}

/* Cards CSS */

#star {
    width: 315px;
    
}

#phone {
    width: 110px;
}

#about {
    width: 175px;
    margin-top: 0;
    margin-bottom: .3rem;

}

#abouthead {
    margin-bottom: 2rem;
}

h3 {
    padding-top: 0px;
    color: #ce2127;
}

.card {
    border-radius: 3px;
    border: 2px solid #ce2127;
    display: inline-block;
    color: wheat;
    text-align: center;
    background-color: #845d3c;
    width: 25%;
    height: 300px;
    margin: 1.5% 0 1.5% 5%;
    padding: 0 5px 10px 5px;

}

a button {
    color: white;
    text-decoration: none;

}

button:hover {
    background-color: #f9bd69;
    color: #ce2127;
    cursor: pointer;
    border: 1px solid #ce2127;
}

.pcrds {
    color: #f9bd69;

}

.crdbtn {
    margin-top: 10px;
    width: 7rem;

}

p {
    margin-bottom: 10px;

}

button {
    background-color: #ce2127;
    border: none;
    height: 35px;
    border-radius: 5px;
    margin-top: 0;
    padding-top: 0;

}

/* Hours Card CSS*/

h4 {
    color: #ce2127;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    font-weight: lighter;
    margin-bottom: 0;

}

.hours {
    border: 2px solid #ce2127;
    text-align: center;
    padding: 0 0 10px 0;
    margin: 0 14.3% 1.5% 15%;
    color: rgb(243, 240, 240);

}

/* Footer CSS */

footer {
    width: 100%;
    background-color: #845d3c;
    display: inline-block;
    text-align: center !important;
    height: 150px;
    border-top: 1px solid #ce2127;
    

}

footer h4 a {
    color: #f9bd69;
    text-decoration: none;

}

footer h4 {
    font-family: 'Libre Baskerville', serif;
    display: inline-block;
    font-weight: lighter;
    word-spacing: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    word-spacing: 2rem;
    margin-bottom: 0;

}

footer h5 {
    font-family: 'Libre Baskerville', serif;
    display: inline-block;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #f9bd69;
    margin-top: 15px;

}

footer h4 a:hover {
    color: white;
    font-size: 0.8rem;
    cursor: pointer;

}

hr {
    margin-top: 1.5%;
    margin-left: 15%;
    margin-right: 15%;
    border-color: rgba(0, 0, 0, 0.1);

}

/* Footer Social Icons Css */

.fa-instagram {
    color: #fff;
    border-radius: 5px;
    font-weight: 900;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

}

.fa-facebook-square {
    color: #4267b2;

}

/* Extra small devices */

@media only screen and (max-width: 655px) {
    #navlist.togglemenu {
        display: block !important;
        z-index: 1000;
        background-color: #f9bd69;
        position: absolute;
        font-size: 1rem;
        font-style: italic;
        width: 50vw;
        height: 100vh;
        margin: 55px 0 0 50%;
        padding: 25% 0 30px 0;
        border-left: 1.5px solid #ce2127;
        border-top: 1.5px solid #ce2127;

    }

    .menucss {
        width: 70%;
        padding: 10px;
        letter-spacing: 2px;

    }

    li.links {
        display: block;

    }

    #hamburger {
        display: block;

    }

    #menuIcon {
        display: block;

    }

    #navlist {
        display: none;

    }

    .slide {
        height: 20%;
        width: 100%;

    }

    .red {
        display: none;

    }

    .green {
        display: none;

    }

    .carousel {
        margin: 3% 6% 1.5% 6%;

    }

    #phone {
        width: 25%;

    }

    #about {
        width: 45%;

    }

    #star {
        width: 75%;

    }

    .card {
        width: 75%;

    }

    .cards {
        margin-left: 11%;
        margin-bottom: 2%;
        
    }
}

/* Small devices */

@media only screen and (min-width: 656px) and (max-width:736px) {
    #navlist.togglemenu {
        display: block !important;
        z-index: 1000;
        background-color: #f9bd69;
        position: fixed;
        font-size: 1rem;
        font-style: italic;
        width: 50vw;
        height: 100vh;
        margin: 55px 0 0 50%;
        padding: 100px 0 30px 0;
        border-left: 1.5px solid #ce2127;
        border-top: 1.5px solid #ce2127;

    }

    .menucss {
        width: 70%;
        padding: 10px;
        letter-spacing: 2px;

    }

    li.links {
        display: block;
    }

    #hamburger {
        display: block;

    }

    #menuIcon {
        display: block;
    }

    #navlist {
        display: none;
    }

    .red {
        display: none;
    }

    .green {
        display: none;
    }

    .carousel {
        margin: 2% 6% 1% 6%;
    }

    .hours {
        margin: 0 5.5% 0 6%;

    }

    .slide {
        height: 40%;
        width: 100%;
    }

    .card {
        width: 28.5%;
        height: 100%;
        margin: 1.5% 1%;
    }

    #star {
        width: 100%;
    }

    #about {
        width: 45%;
    }

    #phone {
        width: 33.5%;
    }

    .pcard {
        margin-left: 1.5%;
    }

}

/* Medium devices */
@media only screen and (min-width: 737px) and (max-width: 873px) {
    #navlist.togglemenu {
        display: block !important;
        z-index: 1000;
        background-color: #f9bd69;
        position: absolute;
        font-size: 1rem;
        font-style: italic;
        width: 50vw;
        height: 100vh;
        margin: 55px 0 0 50%;
        padding: 100px 0 30px 0;
        border-left: 1.5px solid #ce2127;
        border-top: 1.5px solid #ce2127;

    }

    .menucss {
        width: 70%;
        padding: 10px;
        letter-spacing: 2px;

    }

    li.links {
        display: block;
    }

    #hamburger {
        display: block;

    }

    #menuIcon {
        display: block;
    }

    #navlist {
        display: none;
    }

    .slide {
        height: 100%;
        width: 100%;
    }

    .carousel {
        margin: 2% 6% 1% 6%;
    }

    .hours {

        margin: 0 5.5% 0 6%;
    }

    .red {
        display: none;
    }

    .green {
        display: none;
    }

    .card {
        width: 24%;
        height: 100%;
        margin: 1.5% 0.2%;
    }

    .pcard {
        margin-left: 9.5%;
    }

    #star {
        width: 105%;

    }

    #about {
        width: 49%;

    }

    #phone {
        width: 35%;
    }
}

/* Large devices */
@media only screen and (min-width: 874px) and (max-width: 940px) {
    .carousel {
        margin: 2% 6% 1% 6%;

    }

    .hours {
        margin: 0 5.5% 0 6%;

    }

    .slide {
        height: 40%;
        width: 100%;

    }

    .red {
        display: none;

    }

    .green {
        display: none;

    }

    .card {
        width: 29%;
        height: 100%;
        margin: 1.5% 0.5% 1.5% 1%;

    }

    .pcard {
        margin-left: 2%;

    }

    #star {
        width: 75%;

    }

    #about {
        width: 49%;

    }

    #phone {
        width: 25%;

    }
}

/* Extra large devices */

@media only screen and (min-width: 941px) and (max-width: 1200px) {
    .red {
        margin-left: 0;

    }

    .green {
        margin-left: 82%;

    }

    .carousel {
        margin: 2% 12% 1% 12%;
    }

    .hours {
        margin: 0 11.5% 0 12%;

    }

    .slide {
        height: 50%;
        width: 100%;

    }

    .card {
        width: 30.5%;
        height: 100%;
        margin: 1.5% 0.5% 1.5% 0;

    }

    .pcard {
        margin-left: 1%;

    }

    #star {
        width: 100%;

    }

    #about {
        width: 51.5%;

    }

    #phone {
        width: 33%;

    }
}
