/* Body CSS */
body {
    background-color: #f9bd69;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    overflow-x: hidden;

}

a {
    text-decoration: none;
    color: #ce2127;

}

/* Nav CSS */
nav {
    width: 100%;
    margin: 0 auto;
    height: 55px;
    z-index: 1000;

}

#icon {
    position: absolute;
    margin-left: 10px;
    
}

.cursive {
    font-family: 'Trochut', cursive;
}

#logo {
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    padding: 1px 0 0 70px;
    color: #ce2127;
    text-decoration: none;

}

.links {
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
    
}

ul a li:hover {
    color: white;

}

ul {
    font-size: 1rem;
    font-style: italic;
    width: 80%;
    margin: 0 0 0 155px;
    padding: 10px 0 0 0;

}

/* Sticky Nav CSS */
#hamburger {
    display: block;
    float: right;
    margin-right: 20px;

}

.sticky nav {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #f9bd69;
    transition: 1000ms;

}

#menuIcon {
    display: block;
    color: #ce2127;
    padding: 0 10px 2.5px 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-top: 35%;
    margin-bottom: 25%;

}

#navlist.togglemenu {
    display: block !important;
    z-index: 1000;
    background-color: #f9bd69;
    position: absolute;
    font-size: 1rem;
    font-style: italic;
    width: 50vw;
    height: 90vh;
    margin: 55px 0 0 50%;
    padding: 25% 0 30px 0;
    border-left: 1.5px solid #ce2127;
    border-top: 1.5px solid #ce2127;

}

.menucss {
    width: 70%;
    padding: 10px;
    letter-spacing: 2px;

}

li.links {
    display: block;

}

#navlist {
    display: none;

}

/* Footer CSS */
footer {
    width: 100%;
    background-color: #845d3c;
    display: inline-block;
    text-align: center !important;
    height: 150px;
    border-top: 1px solid #ce2127;
    
}

h4 a {
    color: #f9bd69;
    text-decoration: none;

}

h4 {
    font-family: 'Libre Baskerville', serif;
    display: inline-block;
    font-weight: lighter;
    word-spacing: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    word-spacing: 2rem;
    margin-bottom: 0;

}

h5 {
    font-family: 'Libre Baskerville', serif;
    display: inline-block;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #f9bd69;
    margin-top: 15px;

}

footer h4 a:hover {
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}

hr {
    margin-top: 1.5%;
    margin-left: 15%;
    margin-right: 15%;
    border-color: rgba(0, 0, 0, 0.1);

}

/* Footer Social Icons Css */
.fa-instagram {
    color: #fff;
    border-radius: 5px;
    font-weight: 900;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

}

.fa-facebook-square {
    color: #4267b2;

}
/* Nav Tabs */
.tabcontainer {
    margin-left: 0;
    margin-right: 0;
    height: fit-content;
    
}

button a {
    color: wheat;
    
}

#nav-tab {
    display: inline-block;
    text-align: center;

}

ul#nav-tab {
    display: inline-flex;
    margin: 0 auto;
    width: 100vw;

}

button {
    padding: 0;
    font-size: 1rem;
    background-color: #845d3c;
    border: none;
    width: 100%;
    height: 6vh;
    border-radius: 0.5px;

} 

button.active a {
    color: white;

}

button.active {
    background-color: #ce2127;
    
}
button:hover {
    background-color: #ce2127;
    color: white;
    border: 1px solid #ce2127;

}

/* To-GO Button */
#callbtn {
    width: 50vw;
    background-color: #ce2127;
    color: wheat;
    margin: 2vh 25vw;
    border-radius: 20px;

}

#callbtn:hover{
    background-color: #f9bd69;
    color: #ce2127;
    cursor: pointer;
}

/* Menu Cards */
.card {
    width: 55vw;
    height: 45vh;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: #845d3c;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #ce2127;
    color: wheat;

}

.card p {
    font-size: 1.4vh;
    padding: 0 10px;
    margin-top: 5px;
    
}

.card img{
    width: 54vw;
    height: 25vh;
    margin: 0;
    padding-top: 2px;

}

.foodtitle {
    color: #f9bd69;
    margin: 0;
    margin-top: 4px;
    font-size: 3.75vw;
      
}

#combos .foodtitle {
    font-size: 2.75vw;

}

#combos .card p {
    font-size: 1.35vh;

}

  .tab-pane { 
    display: none;
    
  }
  
  .tab-pane.active { 
    display: block; 

  }

/* Logo */
#chile {
    display: none;
    max-width: 30vw;
    position: absolute;
    z-index: -1;
    margin: 0vh 35vw 0 35vw;

}
@media only screen and (min-width: 500px) {
    #callbtn {
    width: 50vw;
    background-color: #ce2127;
    color: wheat;
    margin: 2vh 23vw;
    border-radius: 20px; 

}

}

  @media only screen and (min-width: 600px){
      
      .card {
          width: 40vw;
          float: left;
          height:  55vh;
          margin: 0 0 0 5.5vw;
          margin-bottom: 1rem;
          background-color: #845d3c;
          text-align: center;
          border-radius: 4px;
          border: 2px solid #ce2127;
          color: wheat;

      }
      .card p {
          font-size: 2vh;

      }

      .foodtitle {
          font-size: 3vw;

      }

      #combos .foodtitle {
        font-size: 2.4vw;

    }
    #combos .card p {
        font-size: 1.6vh;

    }
      
      .card img{
          width: 40vw;
          height:  30vh;
          margin: 0;
          padding-top: 0;

      }

      #callbtn{
          width: 40vw;
          margin: 2vh 30vw;

      }  
}
  @media only screen and (min-width: 750px){
    .card {
        width: 30vw;
        float: left;
        margin: 0 1vw 0 1vw;
        margin-bottom: 1rem;
        background-color: #845d3c;
        text-align: center;
        border-radius: 4px;
        border: 2px solid #ce2127;
        color: wheat;

    }
    
    .card img{
        width: 30vw;
        margin: 0;
        padding-top: 0;

    }

    .card p {
        font-size: 1.65vh;

    }

    #callbtn{
        width: 30vw;
        margin: 2vh 34vw;

    } 

    .foodtitle {
        font-size: 2.5vw;

    } 

    #combos .foodtitle {
        font-size: 1.7vw;

    }

    #combos .card p {
        font-size: 1.65vh;

    }

  }

@media only screen and (min-width: 847px){
    #hamburger{
        display: none;

    }

    #menuIcon {
        display: none;

    }

    #navlist {
        display: block;

    }

    li.links{ 
        display: inline-block;

    }

    #callbtn {
        display: none;

    }

    .card{
        margin-top: 2vh;

    }

    ul#nav-tab {
        margin: 0 25vw 0 25vw;
        width: 50vw;
        margin-top: 25vh;

    }

    #chile {
        display: block;

    }

}
@media only screen and (min-width: 950px) {
    .card {
        width: 22vw;
        float: left;
        height:  50vh;
        margin: 2vh 0.5vw 0 1.6vw;
        margin-bottom: 1rem;
        background-color: #845d3c;
        text-align: center;
        border-radius: 4px;
        border: 2px solid #ce2127;
        color: wheat;

    }
    
    .card img{
        width: 22vw;
        margin: 0;
        padding-top: 0;

    }

    #callbtn{
        display: none;

    } 

    .card p {
        font-size: 1.75vh;

    }

    .foodtitle {
        font-size: 1.5vw;

    }

    #combos .foodtitle {
        font-size: 0.8vw;

    }

    #combos .card p {
        font-size: 1.65vh;

    }

}
@media only screen and (min-width: 1015px){
    #chile{
    max-width: 24vw;
    position: absolute;
    z-index: -1;
    margin: 0vh 38vw 0 38vw;

    }

}
